html,body {
    height: 110%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
}




h1{
    color: white;
    text-align: center;
    margin-top: 0%;
    
    
}

h3{
    color: white;
    margin-bottom: 0%;
    margin-top: 0%;
    border: none;
    
}

.section1{
    background-image:url(img2.svg);
    padding-top: 3%;
    padding-bottom: 1%;
    background-size: 100% ;
    padding-left: 1%;
    
}
.text1{
    color: white;
    font-size:medium ;
    text-indent: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    
}

.close{
    font-size: 24px; 
    color: black; 
    top: 1%;
    left: 92%;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    max-width: 0%;
}