html,body {
    height: 150%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
}

.rectangle_1{
    color:rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1) ;
    width: 90%;
    height: 70%;
    
    
    position: absolute;
    left: 5%;
    top: 0px;

    border-radius: 2%;

}

.title{
    color: white;
    font-size: 64px;
    position: absolute;
    left: 283px;
    top: 90px;
    
    
}

.subtitle{
    color: white;
    position: absolute;
    left: 85px;
    top: 283px;
    font-size: 44px;
    
    
    
}

.button_1{
    color:rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1) ;
    width: 28%;
    height: 30%;
    
    
    position: absolute;
    left: 5%;
    top: 75%;

    border: none;
    border-radius: 10%;
}

.button_2{
    color:rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1) ;
    width: 32%;
    height: 30% ;
    
    
    position: absolute;
    left:34%;
    top:75% ;
    border: none;
    border-radius: 10%;
}

.button_3{
    color:rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1) ;
    width:28% ;
    height:30% ;
    
    
    position: absolute;
    left:67% ;
    top: 75%;
    border: none;
    border-radius: 10%;
}


