
html,body {
    height: 150%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.rectangle_2{
    color:rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1) ;
    width: 90%;
    height: 25%;
    
    
    position: absolute;
    left: 5%;
    top: 10%;

    border-radius: 2%;
}

.izuchaite{
    color: #ffd700;
    position: absolute;
    font-size: 800%;
    left: 2.5%;
    top:0%;
    width: 100%;
}


.picture_1_0{
    position: absolute;
    left: 5%;
    top: 40%;
    width:90% ;
    height:30% ;
    border: none;
    border-radius: 3%;
}



.picture_2_0{
    position: absolute;
    left: 5%;
    top:72% ;
    width: 90%;
    height:30% ;
    border: none;
    border-radius: 3%;
}


.picture_3_0{
    position: absolute;
    left: 5%;
    top: 105%;
    width:90% ;
    height:30% ;
    border: none;
    border-radius: 3%;
}