html,body {
    height: 105%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
}


.picture_1_0,
.picture_2_0,
.picture_3_0 {
    width: 100vw;
    margin-bottom: 6%;
    border: none;
}

