<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset='UTF-8'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <title>info</title>
    <link rel="stylesheet" href="../static/css/info.css">
</head>


<body>
    <div class = 'image-container'>
        <a href = 'zachem-nuzhen-son.html'><img src = '../static/pics/Group10.svg' class = 'picture' alt = 'none'><a>
        <a href = 'circadnie-ritmi.html'><img src = '../static/pics/Group8.svg' class = 'picture' alt = 'none'></a>
        <a href = 'phazi-sna.html'><img src = '../static/pics/Group9.svg' class = 'picture' alt = 'none'></a>
        <a href = 'kak-uluchshit-son.html'><img src = '../static/pics/Group2.svg' class = 'picture' alt = 'none'></a>
    </div>

    


</body>

</html>
