<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    <title>zachem-nuzhen-son</title>
    <link rel="stylesheet" href="../static/css/phazi-sna.css">
</head>
<body>
    
<section class = 'section1'>
    <a href = 'info.html'><div class='close'>&#10006;</div></a>
    <h1>Какие бывают фазы сна?</h1>
    <h3>1. Стадии сна</h3>
    <h3>2. Зачем нужны стадии сна?</h3>
    <h3>3. Сколько длятся стадии сна?</h3>
</section>
<section>
    <p class='text1'>У сна есть 3 фазы сна:</p>
    <p class='text1'>1. Лёгкий сон.</p>
    <p class='text1'>Это промежуточная стадия между засыпанием и бодрствованием, так называемый «поверхностный сон». Именно в нём происходит ощущение падения или резкое подёргивание ногой. С таким сталкивается от 60 до 70 процентов людей.</p>
    <p class='text1'>2. Быстрый сон.</p>
    <p class='text1'>Во время него мы видим сны, а активность нашего мозга почти не отличается от периода бодрствования. В это время наш мозг перерабатывает все события дня, помогая нам упорядочить и смириться с самыми эмоциональными событиями.</p>
    <p class='text1'>3. Медленный сон.</p>
    <p class='text1'>Самая важная стадия. В ней происходит перемещение информации из кратковременной памяти в долговременную. Это позволяет увеличить объём кратковременной памяти на следующий день. При медленном сне нас трудно разбудить, но если это произойдёт, то мы будем чувствовать сонливость и дезориентацию в течение нескольких минут. К сожалению, ночные просыпания происходят как раз в это время (например, из-за желания пойти в туалет). Мы спим циклами длительностью примерно по 90 минут. В начале сна большую часть времени из этих 90 минут занимает медленный сон. Но постепенно продолжительность быстрого сна увеличивается, а медленного сокращается. Это нужно, чтобы мы проснулись в фазе быстрого сна и чувствовали себя бодрыми.</p>
    
</section>
    
</body>
</html>