<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />
    <title>zachem-nuzhen-son</title>
    <link rel="stylesheet" href="../static/css/zachem-nushen-son.css">
</head>
<body>
    
<section class = 'section1'>
    <a href = 'info.html'><div class='close'>&#10006;</div></a>
    <h1>Зачем нужен сон?</h1>
    <h3>1. Последствия плохого сна.</h3>
    <h3>2. Как сон влияет на физическое состояние?</h3>
    <h3>3. Как сон влияет на психологическое состояние?</h3>
</section>
<section>
    <p class='text1'>Если в течение 2х недель спать по 6 и менее часов, дефицит когнитивных функций становится эквивалентным 2 ночам полного лишения сна. Если мы хронически недосыпаем, наша умственная продуктивность катастрофически падает.</p>
    <p class='text1'>При плохом сне мы хуже себя контролируем и хотим решать более лёгкие задачи.</p>
    <p class='text1'>Недостаточный сон связан с повышением уровнем подавленного настроения, тревоги и пониженной самооценки.</p>
    <p class='text1'>Улучшение сна приводит к улучшению психического здоровья независимо от тяжести проблем с ним. Не важно, серьёзное это заболевание или просто грусть, эффект от хорошего сна значительный.</p>
    <p class='text1'>Во время сна наши жировые клетки вырабатывают гормон лептин, который отвечает за чувство сытости. Когда мы сокращаем сон, его вырабатывается меньше и повышается содержание другого гормона - грелина, который стимулирует аппетит.</p>
    <p class='text1'>В цифрах: если сократить сон до 4 часов в сутки, то аппетит повысится на 900 калорий, по сравнению с нормальным сном. В особенности, возрастёт желание есть продукты, содержащие углеводы.</p>
    <p class='text1'>Вам будет полезна эта информация, если вы занимаетесь фитнесом или просто худеете. Одно исследование показало, что если при похудении сократить сон с 8.5 часов до 5.5, то при том же дефиците калорий вес уменьшится одинаково. Однако во время сна организм начнёт сжигать меньше жира и больше мышц. При здоровом сне >50% потерянного веса приходится на жир, а при сне меньше 6 часов эта цифра составляет всего 25%. Т.е. при 3-часовом недосыпе сжигание жира сокращается в 2 раза, а потеря мышц в 2 раза увеличивается.</p>
    <p class='text1'>Так же если не спать 1 ночь, то синтез мышечного белка и уровень тестостерноа снижаются на 20%, а уровень кортизола возрастает на 20%. Но, справедливости ради, если недосып небольшой, эти цифры будут почти незначительными.</p>



</section>
    
</body>
</html>
